.container {
  height: 100%;
  position: relative;
}
.curve-background {
  width: 500px;
  height: 90%;
  background: linear-gradient(
    to bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 0 0px 250px 250px;
  position: absolute;
  left: -5%;
  z-index: -1;
}
.curve-down-background {
  width: 500px;
  height: 90%;
  background: hsl(270, 20%, 96%);
  border-radius: 250px 250px 0px 0px;
  position: fixed;
  right: -10%;
  bottom: 0;
  z-index: -1;
}
.middle-container {
  display: flex;
  align-items: center;
  gap: 140px;
  position: absolute;
  left: 25%;
  top: 15%;
}
.mobile-container {
  background-color: hsl(270, 20%, 96%);
  min-width: 220px;
  width: 220px;
  height: 465px;
  border-radius: 30px;
  border: 10px solid white;
  box-shadow: 2px 2px 54px -30px black;
}
.top-container {
  position: relative;
  display: flex;
  color: white;
  align-items: center;
  font-size: 10px;
  justify-content: space-between;
  padding: 25px 15px 10px 15px;
  border-radius: 30px 30px 8px 8px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}
.details {
  display: flex;
  align-items: center;
}
.avatar-container {
  display: grid;
  margin-left: 6px;
}
.name {
  font-size: 11px;
}
.status {
  font-size: 8px;
  color: hsl(276, 100%, 81%);
}
.avatar {
  border: 2px solid white;
  border-radius: 50px;
  width: 22px;
  margin-left: 5px;
}
.top {
  width: 125px;
  height: 16px;
  background-color: hsl(270, 20%, 96%);
  margin: 0 auto;
  border-radius: 0px 0px 30px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.booking-container {
  max-width: 500px;
}
.title {
  color: hsl(271, 36%, 24%);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.content {
  line-height: 1.5em;
  font-size: 18px;
  color: hsl(270, 7%, 64%);
}
.recieved-container {
  width: 110px;
  font-size: 8px;
  padding: 4px 7px;
  margin: 15px 0px 0px 9px;
  color: hsl(276, 55%, 52%);
  border-radius: 10px 10px 10px 4px;
  background: rgb(234, 231, 243);
}
.dog-container {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  margin-top: 17px;
  margin-right: 6px;
}
.dog {
  width: 40px;
  border-radius: 10px;
}
.sent-container {
  width: 110px;
  font-size: 8px;
  padding: 6px 7px;
  background-color: white;
  margin: 8px 4px 0px auto;
  color: hsl(271, 15%, 43%);
  border-radius: 10px 10px 4px 10px;
  box-shadow: 6px 4px 14px -11px black;
}
.sent-container-2 {
  width: 65px;
  box-shadow: 3px 4px 14px -8px black;
}
.payement-container {
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  width: 145px;
  margin-top: 14px;
  margin-left: 8px;
  display: flex;
  padding: 6px 5px;
  align-items: center;
  border-radius: 10px 10px 10px 4px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 1px solid hsl(276, 100%, 81%);
}
.data {
  font-size: 8px;
  margin-left: 5px;
  margin-right: auto;
  color: hsl(276, 100%, 81%);
  font-weight: 500;
}
.cash {
  margin-right: 8px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.input-container {
  display: flex;
  width: 74%;
  background-color: white;
  margin: 11px auto 0px auto;
  padding: 10px 20px;
  align-items: center;
  border-radius: 53px;
  justify-content: space-between;
  position: relative;
}
.placeholder {
  font-size: 10px;
  color: black;
  opacity: 0.5;
}
.btn {
  color: white;
  background: hsl(271, 36%, 24%);
  width: 20px;
  position: absolute;
  right: 3px;
  border-radius: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
