<div class="container">
  <div class="curve-background"></div>
  <div class="curve-down-background"></div>
  <div class="middle-container">
    <div class="mobile-container">
      <div class="top-container">
        <div class="top"></div>
        <div class="details">
          <i class="fa-solid fa-angle-left"></i>
          <img src="../assets/avatar.jpg" alt="avatar" class="avatar" />
          <div class="avatar-container">
            <span class="name">Samuel Green</span>
            <span class="status">Available to Walk</span>
          </div>
        </div>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="bottom-container"></div>
    </div>
    <div class="booking-container">
      <div class="title">{{ title }}</div>
      <div class="content">{{ details }}</div>
    </div>
  </div>
</div>
