@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik-VariableFont.ttf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
}
@media (min-width: 679px) {
  body {
    height: 100vh;
  }
}
